/* Add here all your CSS customizations */
.marmix
{
	font-family:'Conv_ASSEENONTV',Sans-Serif;
}

#header nav.mega-menu ul.nav-main .mega-menu-signin .dropdown-menu {
	width: 40%;
	right: 0px;
	border-radius: 0;
}

.black {
    color: #000000;
}