<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Holdings</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.name }} ({{ team.team_id }})</td>
            <td>{{ team.balance|stringformat:".2f" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No team available for this market!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>