{% load humanize %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Balance</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.balance|stringformat:".2f"|intcomma }}</td>
            <td>{{ team.size|intcomma }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No team available for this simulation!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>