{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>404 - Page Not Found</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <section class="page-not-found">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="page-not-found-main">
                    <h2>404 <i class="fa fa-file"></i></h2>
                    <p>We're sorry, but the page you were looking for doesn't exist.</p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Here are some useful links</h4>
                <ul class="nav nav-list primary">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'help' %}">Help</a></li>
                    <li><a href="{% url 'sitemap' %}">Sitemap</a></li>
                    <li><a href="{% url 'envelope-contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </section>

</div>
{% endblock content %}