{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MarMix{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'html5shiv/js/html5shiv.min.js' %}"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/sticky-footer.css' %}">

    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block angular %}
      <script src="{% static 'angularjs/js/angular.min.js' %}"></script>
    {% endblock %}
    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">

  </head>

  <body>

    <div class="header navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/marmix_200.png' %}"></a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'stocks-list-view' %}">Stocks</a></li>
          {% if request.user.is_poweruser %}
            <li><a href="{% url 'customers-list-view' %}">Customers</a></li>
            <li><a href="{% url 'simulations-list-view' %}">Simulations</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'holdings-list-view' %}">Holdings</a></li>
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">
        
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p>&copy; MarMix 2015 - Version <a href="https://github.com/HEG-Arc/MarMix/commit/{{ REVISION }}">{{ REVISION }}</a></p>
      </div>
    </footer>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="{% static 'jquery/js/jquery-1.11.2.min.js' %}"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
 