<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Last quote</th>
            <th>Last transaction</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.quantity }}</td>
            {% if stock.last_quote %}
                <td>{{ stock.last_quote.price|stringformat:".2f" }} @ {{ stock.last_quote.timestamp|date:"SHORT_DATE_FORMAT" }}</td>
            {% else %}
                <td>None</td>
            {% endif %}
            <td>TBD</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No stock available for this simulation!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>