{%  extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Simulation - Manage teams
{% endblock title %}

{% block content %}
<div role="main" class="main">
    <section class="full">
    </section>
    <div class="container">
        <h1>Manage teams</h1>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'teams-selection-view' simulation_id %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update participating teams</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}