{%  extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Delete the simulation
{% endblock title %}

{% block content %}
<div role="main" class="main">
    <section class="full">
    </section>
    <div class="container">
        <h1>Delete simulation {{ object.code }}</h1>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'simulation-delete-view' object.id %}" method="post">{% csrf_token %}
                    <p>Are you sure that you want to delete the following simulation?</p>
                    <dl class="dl-horizontal">
                    <dt>Simulation code</dt>
                    <dd>{{ object.code }}</dd>
                    <dt>Administrator</dt>
                    <dd><a href="{% url 'users:detail' object.user.username  %}">{{ object.user }}</a></dd>
                    <dt>Simulation type</dt>
                    <dd>{{ object.get_simulation_type_display }}</dd>
                    <dt>Number of teams</dt>
                    <dd>{{ object.nb_teams }}</dd>
                    <dt>Initial capital</dt>
                    <dd>{{ object.capital|stringformat:".2f" }}</dd>
                    <dt>Currency</dt>
                    <dd>{{ object.currency }}</dd>
                    <dt>Current state</dt>
                    <dd>{{ object.get_state_display }}</dd>
                    <dt>Created at</dt>
                    <dd>{{ object.created }}</dd>
                    </dl>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete this simulation</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}