<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Holdings</th>
            <th>Status</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.get_holdings|stringformat:".2f" }}</td>
            <td>{% if team.locked %}<a title="Team account locked"><i class="fa fa-lock"></i></a>{% else %}<a title="Team account not locked"><i class="fa fa-unlock"></i></a>{% endif %}</td>
            <td>
                {% if team.users.all %}
                    {% for user in team.users.all %}
                        <a href="{% url 'users:detail' user.username  %}">{{ user }}</a>
                    {% if not forloop.last %}/ {% endif %}
                    {% endfor %}
                {% else %}
                    No member yet
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No team available for this organization!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>