{%  extends "base.html" %}

{% block title %}
    {{ block.super }} > Stock detail
{% endblock title %}

{% block content %}
<h1>{{ object.name }}</h1>
<dl>
    <dt>Symbol</dt>
    <dd>{{ object.symbol }}</dd>
    <dt>Quantity</dt>
    <dd>{{ object.quantity }}</dd>
</dl>
<p>{{ object.description|safe }}</p>

<table class="table table-striped">
<thead>
<tr>
    <th>Day</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Volume</th>
</tr>
</thead>
<tbody>
{% for day in object.historical_prices %}
<tr>
    <td>R{{ day.sim_round }}D{{ day.sim_day }}</td>
    <td>{{ day.price_open|stringformat:".2f" }}</td>
    <td>{{ day.price_high|stringformat:".2f" }}</td>
    <td>{{ day.price_low|stringformat:".2f" }}</td>
    <td>{{ day.price_close|stringformat:".2f" }}</td>
    <td>{{ day.volume }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="2">No current quote for this stock</td>
</tr>
{% endfor %}
</tbody>
</table>

<a href="{% url 'stocks-list-view' %}">Back</a>
{% endblock content %}