{%  extends "base.html" %}

{% block title %}
    {{ block.super }} > Holdings
{% endblock title %}

{% block content %}
<h1>Holdings</h1>

{% include "simulations/includes/clock.html" with clock=clock %}

{% with lists=team.get_stocks_list %}
<table class="table table-striped">
<thead>
<tr>
    <th>Stock</th>
    <th>Quantity</th>
    <th>Quote</th>
    <th>Market value</th>
    <th>Purchase Value</th>
    <th>Gain</th>
    <th>Gain %</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for stock in lists.stocks %}
    <tr>
        <td>
            {% if stock.asset_type == 'STOCKS' %}
                <a href="{% url 'stocks-detail-view' stock.stock %}">{{ stock.symbol }}</a>
            {% else %}
                {{ stock.asset|capfirst }}
            {% endif %}
        </td>
        <td>{{ stock.quantity }}</td>
        <td>{{ stock.price|stringformat:".2f" }}</td>
        <td>{{ stock.value|stringformat:".2f" }}</td>
        <td>{{ stock.amount|stringformat:".2f" }}</td>
        <td{% if stock.gain > 0 %} class="gain"{% elif stock.gain < 0 %} class="loss"{% endif %}>{{ stock.gain|stringformat:".2f" }}</td>
        <td{% if stock.gain > 0 %} class="gain"{% elif stock.gain < 0 %} class="loss"{% endif %}>{{ stock.gain_p|stringformat:".1f" }}%</td>
        <td></td>
    </tr>
{% empty %}
    <tr><td colspan="8">No stocks yet.</td></tr>
{% endfor %}
{% for cash in lists.cash %}
    <tr>
        <td colspan="3">{{ cash.asset|capfirst }}</td>
        <td>{{ cash.value|stringformat:".2f" }}</td>
        <td>{{ cash.amount|stringformat:".2f" }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
{% empty %}
    <tr><td colspan="8">No cash yet.</td></tr>
{% endfor %}
{% if lists.cash or lists.stocks %}
    <tr>
        <td colspan="3">Balance</td>
        <td>{{ lists.balance.market_value|stringformat:".2f" }}</td>
        <td>{{ lists.balance.purchase_value|stringformat:".2f" }}</td>
        <td{% if lists.balance.gain > 0 %} class="gain"{% elif stock.gain < 0 %} class="loss"{% endif %}>{{ lists.balance.gain|stringformat:".2f" }}</td>
        <td{% if lists.balance.gain > 0 %} class="gain"{% elif stock.gain < 0 %} class="loss"{% endif %}>{{ lists.balance.gain_p|stringformat:".1f" }}%</td>
        <td></td>
    </tr>
{% endif %}
</tbody>
</table>
{% endwith %}

<h1>Orders</h1>
<a class="btn btn-primary" href="{% url 'order-create-view' %}"><i class="fa fa-plus-square-o fa-lg"></i> Create order</a>

{% include "stocks/includes/orders_table.html" with orders=orders %}

{% endblock content %}